<script type="text/html" id="nav-link">
  <a href="#" class="nav <%%= linkTo %>"><%%= name %></a>
</script>

<script type="text/html" id="index">
  <h1>Welcome to Cinnam.in!</h1>
</script>

<script type="text/html" id="group">
  <%%= title && <h3>title</h3> %>
</script>

<script type="text/html" id="message">
  <!-- author_id !== user_id ? getAuthorById -->
  <p><%%= content %></p>
</script>
